#gameInit{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left:0
  }

  .tituloGame{
          font-size: 50px;
}

  .container-nome{
    text-align: center;
    font-size: 18px;
  }
  
  .container-nome input{
  border: none ;
  outline: none;
  padding: 5px;
  margin: 5px 0 5px 0px;
  border-radius: 5px;
  text-align: center;
  }
  
  .container-nome-false{
    text-align: center;
    font-size: 18px;
  }
  .container-nome-false input{
  border: red 1px solid ;
  outline: none;
  padding: 5px;
  margin: 5px 0 5px 0px;
  border-radius: 5px;
  text-align: center;
  }
  
  
  .text-false{
    font-size: 15px;
    color: red;
  }


@media only screen and (max-width: 400px) {
     .tituloGame{
          font-size: 30px;
}
  }
  
