*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Righteous', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #c7cdd3;
}

.banner{
  margin-top: 25px;
  
}
.banner>img{
  max-width: 300px;
}












@media only screen and (max-width: 700px) {
  .game-board{
      max-width: 400px;

      grid-template: 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr 1fr;
      gap: 20px;
    
  }
  .card{
      width: 80px;
      height: 80px;}
  .icon
{
  width: 40px;
}
.card_front,.card_back{
border-radius:10px;

}
}